<div class="container text-center">
  <div class="row row-cols-3">
    <div class="col">
      <div id="ui">
        <p>UI<span>.</span></p>
      </div>
      <p id="pro">BECOME A <br>
        PRO DESIGNER</p>
      <p id="beginner">BEGINNER's</p>

    </div>
<!--    center-->
    <div class="col">
      <img src="/assets/Fh-home.png" height="500" alt="">
    </div>
<!--    right-->
    <div class="col">
      <div id="text-zone">
        <p id="edition">EDITION <br>
          <span>2022</span></p>
      <p>START GUIDE FOR BEGINNER <br>
        DESIGNER
      </p>
      <p>Lorem ipsum dolor sit amet,
        consectetur adipisicing elit.
        Accusantium delectus ducimus eaque est ipsum
      </p>
      <button type="button" class="btn btn-primary">LET'S START</button>
      <button type="button" class="btn btn-dark">READ MORE</button>
    </div>
    </div>
  </div>
  </div>





